title: Creation Operators

===
extends example.html

block description
  p Shows the usage of a number of #[a(href='https://github.com/Reactive-Extensions/RxJS/blob/master/doc/gettingstarted/which-static.md') creation operators].
